@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <form id="roleForm">
            <input type="hidden" name="id" value="${company.id}">
            <div class="form-horizontal" id="menuInfoForm">
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group">
                            <label for="name" class="control-label">公司:</label>
                            <input type="text" class="form-control" value="${company.name}" id="name" name="name">
                        </div>
                        <div class="form-group">
                            <label for="name" class="control-label">负责人:</label>
                            <input type="text" class="form-control" value="${company.person}" id="person" name="person">
                        </div>
                        <div class="form-group">
                            <label for="name" class="control-label">负责人手机号:</label>
                            <input type="text" class="form-control" value="${company.personMobile}" id="personMobile" name="personMobile">
                        </div>
                        <div class="form-group date">
                            <label for="name" class="control-label">到期时间:</label>
                            <input size="16" type="text" readonly value="${company.endTimeStr}" name="endTime" class="form-control form_datetime">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="CompanyInfoDlg.editSubmit()">Save changes</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    $(".form_datetime").datetimepicker({format: 'yyyy-mm-dd hh:ii'});
</script>
<script src="${ctxPath}/static/modular/system/company/company_info.js"></script>
@}
