<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lab.manage.mapper.SysRoleMapper">

    <select id="findList" resultType="com.lab.manage.domain.SysRole">
        SELECT id,`name`,create_time createTime,create_by createBy,update_time updateTime,update_by updateBy
        FROM sys_role
        <where>
            <if test="name != null and name != ''">`name` = #{name}</if>
        </where>
        ORDER BY create_time DESC
    </select>

    <select id="findByUserId" resultType="java.lang.Integer">
        SELECT role_id
        FROM sys_user_role
        WHERE user_id = #{id}
    </select>

    <select id="findTreeById" resultType="java.lang.Integer">
      SELECT menu_id
      FROM sys_menu_role
      WHERE role_id = #{id}
    </select>

</mapper>