@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>菜单管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-3">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for...">
                            <span class="input-group-btn">
                                <button class="btn btn-info" clickFun="Menu.search()" type="button">搜索</button>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="hidden-xs" id="menuTableToolbar" role="group">
                            <button type="button" class="btn btn-primary" onclick="Menu.openAddMenu()">添  加</button>
                            <button type="button" class="btn btn-primary" onclick="Menu.openChangeMenu()">修改</button>
                            <button type="button" class="btn btn-danger" onclick="Menu.delMenu()">删  除</button>
                        </div>
                        <table id="menuTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="${ctxPath}/static/modular/system/menu/menu.js"></script>
<script src="${ctxPath}/static/js/plugins/ztree/jquery.ztree.all.min.js"></script>
<script src="${ctxPath}/static/js/common/ztree-object.js"></script>
<link href="${ctxPath}/static/css/plugins/ztree/zTreeStyle.css" rel="stylesheet">
@}
