@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <form id="dictionaryForm">
            <input type="hidden" name="id" value="${result.id}">
            <div class="form-horizontal" id="menuInfoForm">
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group">
                            <label for="value" class="control-label">名称:</label>
                            <input type="text" class="form-control" id="label" name="label" value="${result.label}">
                        </div>
                        <div class="form-group">
                            <label for="name" class="control-label">分类:</label>
                            <input type="text" class="form-control" id="name" name="name" value="${result.name}">
                        </div>
                        <div class="form-group">
                            <label for="type" class="control-label">关键字:</label>
                            <input type="text" class="form-control" id="type" name="type" value="${result.type}">
                        </div>
                        <div class="form-group">
                            <label for="value" class="control-label">编码值:</label>
                            <input type="text" class="form-control" id="value" name="value" value="${result.value}">
                        </div>
                        <div class="form-group">
                            <label for="order" class="control-label">排序:</label>
                            <input type="text" class="form-control" id="order" name="order" value="${result.order}">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary"  onclick="DictionaryInfoDlg.editSubmit()">Save changes</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="${ctxPath}/static/modular/system/dictionary/dictionary_info.js"></script>
@}
